<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee name</label>
      <input class="form-control" (input)="onNameChange($event.target.value)" />
    </div>
    <div class="col">
      <label><strong>Name</strong></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input
        type="date"
        class="form-control"
        (input)="onDateChange($event.target.value)"
      />
    </div>
    <div class="col">
      <label><strong>Payment Date</strong></label>
      <div>
        {{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input
        class="form-control"
        (input)="onAmountChange($event.target.value)"
      />
    </div>
    <div class="col">
      <label><strong>Payment Amount</strong></label>
      <div>
        {{ amount | currency : "INR"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input
        class="form-control"
        (input)="onMilesChange($event.target.value)"
      />
    </div>
    <div class="col">
      <label><strong>Kilometers</strong></label>
      <div *ngIf="miles > 10"> 
        <!-- to check km is bigger than 10 or not using pipe in ng IF and send km as argument handle the logic in Pipe class  -->
        {{ miles | convert :'m' | number:'1.0-2'}}
      </div>
    </div>
  </div>
</div>
